<!DOCTYPE html>
<html>

<head>
    <title>Sudoku Solver</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link rel="shortcut icon" href="/static/images/favicon-32x32.png">
    <link rel="icon" href="/static/images/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/apple-touch-icon152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon180x180.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/static/images/apple-touch-icon192x192.png">
</head>

<body>

<form action="/solve" method="POST" id="input-matrix-form">
    <table align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><input type="textbox" name="matrix00" value="{{ matrix00 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix01" value="{{ matrix01 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix02" value="{{ matrix02 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix03" value="{{ matrix03 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix04" value="{{ matrix04 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix05" value="{{ matrix05 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix06" value="{{ matrix06 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix07" value="{{ matrix07 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix08" value="{{ matrix08 }}" size="2" style="background-color:#BBB;" /></td>
  </tr>
  <tr>
    <td><input type="textbox" name="matrix10" value="{{ matrix10 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix11" value="{{ matrix11 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix12" value="{{ matrix12 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix13" value="{{ matrix13 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix14" value="{{ matrix14 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix15" value="{{ matrix15 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix16" value="{{ matrix16 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix17" value="{{ matrix17 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix18" value="{{ matrix18 }}" size="2" style="background-color:#BBB;" /></td>
  </tr>
  <tr>
    <td><input type="textbox" name="matrix20" value="{{ matrix20 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix21" value="{{ matrix21 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix22" value="{{ matrix22 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix23" value="{{ matrix23 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix24" value="{{ matrix24 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix25" value="{{ matrix25 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix26" value="{{ matrix26 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix27" value="{{ matrix27 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix28" value="{{ matrix28 }}" size="2" style="background-color:#BBB;" /></td>
  </tr>
  <tr>
    <td><input type="textbox" name="matrix30" value="{{ matrix30 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix31" value="{{ matrix31 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix32" value="{{ matrix32 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix33" value="{{ matrix33 }}" size="2" style="background-color:#BBB;"/></td>
    <td><input type="textbox" name="matrix34" value="{{ matrix34 }}" size="2" style="background-color:#BBB;"/></td>
    <td><input type="textbox" name="matrix35" value="{{ matrix35 }}" size="2" style="background-color:#BBB;"/></td>
    <td><input type="textbox" name="matrix36" value="{{ matrix36 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix37" value="{{ matrix37 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix38" value="{{ matrix38 }}" size="2" style="background-color:#FFF;" /></td>
  </tr>
  <tr>
    <td><input type="textbox" name="matrix40" value="{{ matrix40 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix41" value="{{ matrix41 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix42" value="{{ matrix42 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix43" value="{{ matrix43 }}" size="2" style="background-color:#BBB;"/></td>
    <td><input type="textbox" name="matrix44" value="{{ matrix44 }}" size="2" style="background-color:#BBB;"/></td>
    <td><input type="textbox" name="matrix45" value="{{ matrix45 }}" size="2" style="background-color:#BBB;"/></td>
    <td><input type="textbox" name="matrix46" value="{{ matrix46 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix47" value="{{ matrix47 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix48" value="{{ matrix48 }}" size="2" style="background-color:#FFF;" /></td>
  </tr>
  <tr>
    <td><input type="textbox" name="matrix50" value="{{ matrix50 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix51" value="{{ matrix51 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix52" value="{{ matrix52 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix53" value="{{ matrix53 }}" size="2" style="background-color:#BBB;"/></td>
    <td><input type="textbox" name="matrix54" value="{{ matrix54 }}" size="2" style="background-color:#BBB;"/></td>
    <td><input type="textbox" name="matrix55" value="{{ matrix55 }}" size="2" style="background-color:#BBB;"/></td>
    <td><input type="textbox" name="matrix56" value="{{ matrix56 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix57" value="{{ matrix57 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix58" value="{{ matrix58 }}" size="2" style="background-color:#FFF;" /></td>
  </tr>
  <tr>
    <td><input type="textbox" name="matrix60" value="{{ matrix60 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix61" value="{{ matrix61 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix62" value="{{ matrix62 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix63" value="{{ matrix63 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix64" value="{{ matrix64 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix65" value="{{ matrix65 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix66" value="{{ matrix66 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix67" value="{{ matrix67 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix68" value="{{ matrix68 }}" size="2" style="background-color:#BBB;" /></td>
  </tr>
  <tr>
    <td><input type="textbox" name="matrix70" value="{{ matrix70 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix71" value="{{ matrix71 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix72" value="{{ matrix72 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix73" value="{{ matrix73 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix74" value="{{ matrix74 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix75" value="{{ matrix75 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix76" value="{{ matrix76 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix77" value="{{ matrix77 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix78" value="{{ matrix78 }}" size="2" style="background-color:#BBB;" /></td>
  </tr>
  <tr>
    <td><input type="textbox" name="matrix80" value="{{ matrix80 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix81" value="{{ matrix81 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix82" value="{{ matrix82 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix83" value="{{ matrix83 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix84" value="{{ matrix84 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix85" value="{{ matrix85 }}" size="2" style="background-color:#FFF;" /></td>
    <td><input type="textbox" name="matrix86" value="{{ matrix86 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix87" value="{{ matrix87 }}" size="2" style="background-color:#BBB;" /></td>
    <td><input type="textbox" name="matrix88" value="{{ matrix88 }}" size="2" style="background-color:#BBB;" /></td>
  </tr>
</table>
</form>
<div style="text-align:center;">
    <br>
    <br>
    <button style="text-align:center;width: 240px;font-size:40px;" type="submit" form="input-matrix-form" value="Submit">OK</button>
</div>

</body>

</html>
